<img src="/assets/img/burger.png" class="burger-image">

<p class="intro">Add a burger to the "Not Devoured" section. Once added, you can devour the burger and it will be moved to the "Devoured" section.</p>

<div class="burger-lists mt-5 d-flex flex-column flex-sm-row justify-content-between">
  <div class="undevoured-list list-box my-2 my-sm-0 mr-sm-2">
    <h2 class="list-title glow">Not devoured:</h2>
    <ul class="list-content" id="not-d-list">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devour=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="devoured-list list-box my-2 my-sm-0 ml-sm-2">
    <h2 class="list-title glow">Devoured:</h2>
    <ul class="list-content" id="not-d-list">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devour=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="add-burger-section mt-4">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <div class="input-group mb-3">
        <input type="text" id="ca" name="burger_name" class="form-control" placeholder="Burger Name" aria-label="Burger Name" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="add-burger-btn" type="submit" id="button-addon2">Add Burger</button>
        </div>
      </div>
    </div>

  {{!-- This would give the option to set devour state upon burger creation--}}
    {{!-- <div class="form-group">
      <label for="devoured">Devoured?</label><br>
      <input type="radio" name="devoured" value="1" checked> Yep<br>
      <input type="radio" name="devoured" value="0"> Nope
    </div> --}}

    {{!-- <button type="submit">Add Burger</button> --}}

  </form>
</div>